@import "tailwindcss";

:root {

  --ubique-navy: #071B3A;

  --ubique-blue: #155EEF;

  --ubique-green: #12B76A;

  --ubique-bg: #F8FAFC;

  --ubique-dark: #101828;

  --ubique-gray: #667085;
}

body {
  background: var(--ubique-bg);
  color: var(--ubique-dark);
}